h1 
{
color: rgb(255, 255, 255);

font-family: 'Tourney', cursive;
text-align: center;
background-color: black;

}
h3
{
color:rgb(255, 255, 255);

font-family: 'Tourney', cursive;
text-align: center;
}
h2
{
    text-align: center;
    color:rgb(251, 132, 132);
    font-family: 'Nanum Gothic Coding', monospace;
    
}


body
{
 background:darkslategrey;
}